@import "/styles/main.module.scss";

.lobi_page {
  height: 100vh;
  background-color: #000;
  position: relative;
  overflow: hidden;
  .lobi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .lobi_page {
      height: 90vh;
      width: 90%;
      background: radial-gradient(
        rgba(13, 13, 13, 0.9),
        rgba(13, 13, 13, 0.8),
        rgba(13, 13, 13, 0.6),
        rgba(13, 13, 13, 0.3),
        rgba(13, 13, 13, 0)
      );
      border-radius: 15px;
      position: absolute;
      z-index: 10;

      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        color: rgb(182, 9, 0);
        font-family: "Nosifer", sans-serif;
        font-size: 40px;
      }
      p {
        color: rgb(255, 255, 255);
        font-family: "Nosifer", sans-serif;
        font-size: 30px;
      }
      .players_section {
        margin-top: 50px;
        height: 75vh;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        gap: 5px;
        row-gap: 25px;
        .player {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          span {
            color: white;
            font-family: "Nosifer", sans-serif;
            font-size: 10px;
          }
          .player_circle {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            font-size: 30px;
            font-family: "Nosifer", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .pumpkinsvg {
              position: absolute;
            }

          }
        }
      }
    }
  }
}
