@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Nosifer';
  src: url('./fonts/Nosifer-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.halloween {
    background-image: linear-gradient(red, darkred);
    // filter: grayscale(1) invert(1) brightness(1.1);
    // mix-blend-mode: luminosity;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Nosifer', sans-serif !important;
    }
}

.container {
  max-width: 1300px;
  padding: 0;
  margin: 0 auto;
}

body {
  background-color: black;
}

.black,
.white, .red, .orange {
  position: relative;
  top: 0;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-family: "Carter One", sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2,
    -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2,
    0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
  border: none;
  //   margin: 15px 15px 30px;
  background: repeating-linear-gradient(
    45deg,
    #3ebbf7,
    #3ebbf7 5px,
    #45b1f4 5px,
    #45b1f4 10px
  );
  border-bottom: 3px solid rgba(16, 91, 146, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 35px 10px;
  box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
    0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e,
    0 15px 1px 6px rgba(0, 0, 0, 0.3);

  &:hover {
    top: 2px;
    box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
      0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e,
      0 13px 1px 6px rgba(0, 0, 0, 0.3);
  }
  &::before {
    content: "";
    height: 10%;
    position: absolute;
    width: 40%;
    background: #fff;
    right: 13%;
    top: -3%;
    border-radius: 99px;
  }
  &::after {
    content: "";
    height: 10%;
    position: absolute;
    width: 5%;
    background: #fff;
    right: 5%;
    top: -3%;
    border-radius: 99px;
  }
}

.black {
  // background: repeating-linear-gradient(
  //   45deg,
  //   #54d440,
  //   #54d440 5px,
  //   #52cc3f 5px,
  //   #52cc3f 10px
  // );
  // box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
  //   0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16,
  //   0 15px 1px 6px rgba(0, 0, 0, 0.3);
  // border-bottom: 3px solid rgba(40, 117, 29, 0.5);
  background: #000000;
  color: #fff;

  box-shadow: 0 6px 0 #333, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
  0 10px 0 5px #222, 0 12px 0 5px #444, 0 15px 0 5px #111,
  0 15px 1px 6px rgba(0, 0, 0, 0.3);
border-bottom: 3px solid rgba(50, 50, 50, 0.5);

  // text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628,
  //   -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628,
  //   0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
    text-shadow: 2px 2px 1px #333, -2px 2px 1px #333, 2px -2px 1px #333;

  // box-shadow: 0 4px 10px rgba(40, 167, 69, 0.5);
}
.black:hover {
  // top: 2px;
  // box-shadow: 0 4px 0 #348628, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
  //   0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16,
  //   0 13px 1px 6px rgba(0, 0, 0, 0.3);
  top: 2px;
  box-shadow: 0 4px 0 #333, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #222, 0 10px 0 5px #444, 0 13px 0 5px #111;
}

.white {
  // background: repeating-linear-gradient(
  //   45deg,
  //   #ffc800,
  //   #ffc800 5px,
  //   #ffc200 5px,
  //   #ffc200 10px
  // );
  // box-shadow: 0 6px 0 #b76113, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
  //   0 10px 0 5px #75421f, 0 12px 0 5px #8a542b, 0 15px 0 5px #593116,
  //   0 15px 1px 6px rgba(0, 0, 0, 0.3);
  // border-bottom: 3px solid rgba(205, 102, 0, 0.5);
  // text-shadow: 2px 2px 1px #e78700, -2px 2px 1px #e78700, 2px -2px 1px #e78700,
  //   -2px -2px 1px #e78700, 0px 2px 1px #e78700, 0px -2px 1px #e78700,
  //   0px 4px 1px #c96100, 2px 4px 1px #c96100, -2px 4px 1px #c96100;
  background: #ffffff;
  color: #000;
  box-shadow: 0 6px 0 #ddd, 0 8px 1px 1px rgba(0, 0, 0, 0.1),
    0 10px 0 5px #ccc, 0 12px 0 5px #eee, 0 15px 0 5px #aaa;
  border-bottom: 3px solid rgba(200, 200, 200, 0.5);
  text-shadow: 2px 2px 1px #ddd, -2px 2px 1px #ddd, 2px -2px 1px #ddd;

}

.white:hover {
  top: 2px;
  // box-shadow: 0 4px 0 #b76113, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
  //   0 8px 0 5px #75421f, 0 10px 0 5px #8a542b, 0 13px 0 5px #593116,
  //   0 13px 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 0 #ddd, 0 6px 1px 1px rgba(0, 0, 0, 0.1),
  0 8px 0 5px #ccc, 0 10px 0 5px #eee, 0 13px 0 5px #aaa;
}


.red {
  background: #ff0000;
  color: #fff;
  box-shadow: 0 6px 0 #b30000, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
    0 10px 0 5px #990000, 0 12px 0 5px #cc0000, 0 15px 0 5px #660000;
  border-bottom: 3px solid rgba(255, 50, 50, 0.5);
  text-shadow: 2px 2px 1px #b30000, -2px 2px 1px #b30000, 2px -2px 1px #b30000;
}

.red:hover {
  top: 2px;
  box-shadow: 0 4px 0 #b30000, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #990000, 0 10px 0 5px #cc0000, 0 13px 0 5px #660000;
}

.orange {
  background: #ffb700;
  color: #fff;
  box-shadow: 0 6px 0 #b76113, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
    0 10px 0 5px #cc7a00, 0 12px 0 5px #a65a00, 0 15px 0 5px #8a4500;
  border-bottom: 3px solid rgba(205, 102, 0, 0.5);
  text-shadow: 2px 2px 1px #b76113, -2px 2px 1px #b76113, 2px -2px 1px #b76113;
}

.orange:hover {
  top: 2px;
  box-shadow: 0 4px 0 #b76113, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #cc7a00, 0 10px 0 5px #a65a00, 0 13px 0 5px #8a4500;
}